@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
    position: relative;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-left: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 40px 120px;
}

h1 {
    font-size: 55px;
    color: white;
    line-height: 60px;
}

/* top-banner style */
.top-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1100px;
    max-height: 550px;
    background-color: #161616;
    border-radius: 30px;
    margin-bottom: 100px;
}

.show-info {
    padding: 40px 75px;
    text-align: left;

}

.show-info p {
    font-size: 14px;
    color: white;
    padding-bottom: 17px;
}

.show-info button {
    background-color: red;
    color: white;
    font-size: 17px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
}

.side-image {
    margin-top: 25px;
    margin-bottom: 0;
    padding-right: 60px;
}

.side-image img {
    width: 100%;
    height: 100%;
}

/* second section style  */

.live-matches {
    display: flex;
    gap: 15px;
    margin-bottom: 100px;
}

.categories {
    display: flex;
    flex-direction: column;
    background-color: #4d4b4b;
    border-radius: 10px;
    height: 240px;
    padding: 30px;
    row-gap: 30px;
}

.categories button {
    border-radius: 10px;
    width: 210px;
    height: 60px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
}

.categories button:focus {
    background-color: red;
    color: white;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;


}

.match {
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 30px 20px;
    height: 150px;
}

.match-country {
    display: flex;
    gap: 20px;
    align-items: center;
}

.match-country img {
    width: 75px;
    height: 45px;
}

.match-info {
    text-align: center;
}

.match-info h3 {
    font-size: 17px;
}

.match-info p {
    font-size: 14px;
    color: dimgray;
}

/* footer style  */
footer {
    position: absolute;
    margin-top: 10px;
    background-color: #161616;
    width: 100%;
    height: 350px;

}

.last-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.last-goal h3 {
    color: white;
    font-size: 30px;
}

.break {
    border: 1px solid dimgray;
    width: 90%;
}

.footer-titles {
    display: flex;
    gap: 60px;
    color: lightgrey;
    padding-top: 40px;
}

.footer-titles p {
    font-weight: 100;
    font-size: 13px;
}

.social-links {
    display: flex;
    gap: 30px;
    font-size: 25px;
    padding-top: 20px;
}

.fa-brands {
    color: aliceblue;
}

@media screen and (max-width:576px) {
    main {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        margin: 5px 20px;
    }

    h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .top-banner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 510px;
        min-height: 103.3vh;
        margin-top: 30px;
        margin-bottom: 30px;

    }

    .show-info {
        padding: 20px 100px;
        text-align: center;
    }

    .show-info-para {
        height: 30px;
        margin-bottom: 30px;
    }

    .show-info p {
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .show-info button {
        font-size: 25px;
        padding: 15px 25px;
        border: none;
        border-radius: 5px;
    }

    .side-image {
        position: relative;
        margin-top: -50px;
        text-align: center;
        padding: 0 120px;
    }

    .side-image img {
        width: 100%;
        height: 100%;
    }

    .live-matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 100px;
    }

    .categories {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        background-color: white;
    }

    .categories button {
        width: auto;
        height: 60px;
        font-size: 25px;
        font-weight: 600;
        border: 1px solid lightgrey;
        padding: 10px 40px;
    }

    .matches {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .match-country img {
        width: 200px;
        height: 80px;
    }

    footer {
        margin-top: 1.5em;
        height: 28%;
    }

    .last-goal {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

    }

    .last-goal h3 {
        margin-top: 5px;
    }

    .footer-titles {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    .footer-titles p {

        font-size: 18px;
    }

    .social-links {
        display: flex;
        gap: 30px;
        font-size: 25px;
        padding-top: 20px;
    }

}

@media screen and (min-width:577px) and (max-width:992px) {
    main {
        margin: 50px 50px;
    }

    h1 {
        font-size: 45px;
    }

    .top-banner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 80vh;
        grid-gap: 1px;
        margin-bottom: 60px;
    }

    .show-info {
        padding: 40px 50px 60px 90px;
    }

    .show-info-para {
        height: 30px;
        margin-bottom: 30px;
    }

    .show-info p {
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .side-image {
        position: relative;
        padding-right: 20px;
    }

    .side-image img {
        width: 100%;
        height: 100%;
    }

    .live-matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 0px;
    }

    .categories {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;
        border: none;
        background-color: white;
        padding: 0;
        margin-bottom: 30px;
        height: 80px;
    }

    .categories button {
        width: 260px;
        height: 80px;
        font-size: 20px;
        font-weight: 600;
        border: 1px solid lightgrey;
        padding: 10px 40px;
    }

    .matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        width: 100%;
    }

    .match-country img {
        width: 150px;
        height: 80px;
    }

    footer {
        margin-top: 0px;
        height: 40%;
    }

    .last-goal h3 {
        font-size: 50px;
        margin-top: 10px;
    }

    .last-goal {
        text-align: center;
        padding: 0 auto;
    }

    .footer-titles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 5px;

    }

    .footer-titles p {
        font-size: 18px;
    }

    .social-links {
        display: flex;
        gap: 30px;
        font-size: 25px;
        padding-top: 20px;
    }
}